File connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="2843d912-bf8e-41dd-968d-4369a2dfa9f9" >
		<http:listener-connection host="0.0.0.0" port="8080" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="c27d33b6-fe4d-46cd-b74e-5aed48422ece" />
	<file:config name="File_Config1" doc:name="File Config" doc:id="5b2253cb-0eba-419c-97c5-de46c384ef23" />
	<flow name="File_connectorFlow" doc:id="470ed002-6e54-47bd-a766-801c9210336b" >
		<http:listener doc:name="Listener" doc:id="59cd016b-998c-481f-8902-2d00fdee748f" config-ref="HTTP_Listener_config1" path="foreach"/>
		<ee:transform doc:name="Transform Message" doc:id="b9787433-344b-4cf6-8948-990ca4dc7973" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 500 map {
  id: 200  + $$,
  name: "siva",
  age:30
	
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="f7ca2bd0-4b44-4056-9554-e01b549b08ae" >
			<logger level="INFO" doc:name="Logger" doc:id="27176fc6-b5cd-41c5-b8cd-d84455116029" message="#[payload]" />
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="151cc57c-b832-45b8-b65c-01fd2091214a" message="#[payload]"/>
		<batch:job jobName="File_connectorBatch_Job" doc:id="eaa961a9-a2f3-4ccf-a4c8-b27ad68a2152" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="bd3029b9-a05e-4015-b71e-6b5e0c0c9588" />
			</batch:process-records>
		</batch:job>
	</flow>
</mule>
